/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min
 *= require_tree .
 *= require_self
 */

body , html {
   height: 100%;
 }

 .wrapper {
   display: flex;
   flex-direction: column;
 }

 .title {
   font-size: 18px;
   color: white;
   margin-top: 20px;
 }


a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 7px;
}

.navbar-default {
  background-color: #2d522d;
  border-color: #e7e7e7;
}

p {
  margin-bottom: 5px;
}

.head {
  text-align: center;
}

.barmenu li {
  float: left;
  width: auto;
  padding: 5px;
  margin-left: 25px;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.dashboard {
  background-color: #efecec;
  background-clip: inherit;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;
}

.text {
  background-color: #efecec;
  background-clip: inherit;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;

  margin: 2%;
}

.ago {
  background-color: #efecec;
  background-clip: inherit;
  border: 1px solid #e1e8ed;
  border-radius: 5px;
  line-height: inherit;
  padding: 15px;
  margin-top: 10px;
}

li {
  list-style: none;
}
ul {
  margin-top: 10px;
}

a:hover{
  color: yellow;
  text-decoration: none;
}


.main {
  color: green;
  text-align: center;
}


.monologue_content {
  text-align: center;
}


.monologue_text {
  font-size: 18px;
  text-align: left;
}

.bottun {
  text-align: center;
}

input[type="submit"] {
  cursor: pointer;
}

.back {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0.2%;
}

.back a {
  display: contents;
  color: blue;
}

.back a:hover{
  color: red;
}

textarea#monologue_content {
  width: 90%;
  height: 60px;
  text-align: start;
  padding: revert;
  margin: 10px;
}

.content {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.check {
  word-wrap: break-word;
}

.btn_edit {
  font-size: 15px;
  background-color: #84e484;
  margin: 1px;
  line-height: 1.5;
  border-radius: 3px;
  text-align: center;
  width: 70px;
  padding: 12px 0;
}

.btn_delete {
  font-size: 15px;
  background-color: red;
  margin: 1px;
  line-height: 1.5;
  border-radius: 3px;
  text-align: center;
  width: 70px;
  padding: 12px 0;
}

.btn_tweet {
  text-align: center;
  background-color: aqua;
  margin-top: 10px;
  margin-left: 46%;
  width: 120px;
  padding: 14px 0;
  margin-bottom: 35px;
}

.btn :hover {
  opacity: 0.7;
}

.notice {
  text-align: center;
}

footer {
  text-align: left;
  background-color: #2d522d;
  width: 100%;
  display: table;
  color: white;
  margin-top: 50px;
  position: fixed;/*←絶対位置*/
  bottom: 0; /*下に固定*/
}
